    /* common */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* debug */
    .debug * {
        border: 1px dashed;
    }

    /* end debug */

    /* utilities */

    :root {
        --drop-bg-head: #ffffff;
        --drop-bott: #0061ff;
        --drop-lightB-bg: #b4d0e7;
        --drop-lightG-bg: #f5f5f5;
        --drop-foot: #000000;
        --drop-text-gray: #818181;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        min-width: 1440px;
    }

    .container {
        width: 70%;
        margin: auto;
        padding-left: 4%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
       
        

    }

    
    /* padding */
    .pad-b-2r{
        padding-bottom: 2rem;
    }
    .pad-b-3r{
        padding-bottom: 3rem;
    }
    .pad-b-4r{
        padding-bottom: 4rem;
    }
    .pad-top-5r{
        padding-top: 5rem;
    }
    .pad-tp-4r{
        padding-top: 4rem;
    }
    .pad-top-3r{
        padding-top: 3rem;
    }
    /* col */
    [class^="col-"] {
        padding:2rem;
    }    

    .col-1 {
        width: calc((100% / 12) * 1);
    }

    .col-2 {
        width: calc((100% / 12) * 2);
    }

    .col-3 {
        width: calc((100% / 12) * 3);
    }

    .col-4 {
        width: calc((100% / 12) * 4);
    }

    .col-5 {
        width: calc((100% / 12) * 5);
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: calc((100% / 12) * 7);
    }

    .col-8 {
        width: calc((100% / 12) * 8);
    }

    .col-9 {
        width: calc((100% / 12) * 9);
    }

    .col-10 {
        width: calc((100% / 12) * 10);
    }

    .col-11 {
        width: calc((100% / 12) * 11);
    }

    .col-12 {
        width: 100%;

    }

    /* flex */
    .d-dlex{
        display: flex;
        justify-content: space-between;
    }

    .hd-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* header */

    .app-header {
        height: 100px;
        background-color: var(--drop-bg-head);
        padding: 1.5rem;
    }

    .logo-img {
        height: 40px;
    }

    .logo {
        padding-right: 50px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .cta {
        background-color: var(--drop-bott);
        height: 40px;
        padding-top: 10px;
        color: white;
        font-size: 20px;



    }

    .text-hd {
        text-decoration: none;
        padding: 0 1rem;
        color: var(--drop-text-gray);
        font-size: 20px;
    }

    .bott-hd {
        text-decoration: none;
        padding: 0 1rem;
        color: white;
    }

    /* main */
    /* jumbotron */
    .jumbotron {
        background-color: var(--drop-lightB-bg);
        max-height:970px;
    }


    h1 {

        font-size: 110px;
        padding-top: 5%;
        padding-bottom: 5%;


    }

    .jumbo-img {
        height: 640px;
        width: 1000px;
       
        

    }

    .jumbo-info {
        font-size: 25px;
        padding-bottom: 10%;

    }

    .free-trial {
        border: none;
        background-color: var(--drop-bott);
        color: white;
        height: 60px;
        width: 330px;
        font-size: 23px;
    }

    .cancel {
        padding-top: 10%;
        font-size: 25px;
    }

    .arrow {
        position: relative;
    }

    #arr {
        position: absolute;
        top: 100px;
        font-size: 50px;
    }
    /* plans */
    .plans{
        padding-top: 7%;
    }
    .small-container{
        width: 55%;
        margin: auto;
        
    }
    .title-plans{
        font-size: 55px;
        padding: 2rem;
    }
    .fatturazione{
        width: 30%;
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 2rem;
    }
    /* card  */
    .card{
        border: 1px solid rgb(145, 126, 126);
        
    }
    /* plans */
    .fatturazione{
        font-size:15px;
    }
    /* card col4 */
    /* top-card */
    .top-card{
        font-size: 20px;
        display: flex;
        justify-content: center;
        padding:1rem 0;
        border-bottom: 1px solid rgb(145, 126, 126);
    }
    h2{
        font-size: 35px;
        padding-bottom: 2rem;
    }
    /* mid-card */
    .mid-card{
        display: flex;
        flex-direction: column;
        padding: 4rem 3rem;
        font-size: 20px;
        .price{
            font-weight: bold;
        }
        .month-trial{
            border: none;
            background-color: var(--drop-bott);
            color: white;
            height: 50px;
            width: 300px;
            font-size: 20px
            }
        /* bottom-card */
    }
    .bottom-card{
        display: flex;
        flex-direction: column;
        padding: 2rem 3rem;
        font-size: 20px;

    }
    .fa-check{
        color: #0061ff;
        font-size: 20px;
      
    }
    hr{
        width: 50px;
        position: relative;
        left: 50px;
    }
    /* right-card */
    .right-card{
        display: flex;
        justify-content: end;
    }
    /* card col12 */
    .call-uff{
        border: none;
            background-color: var(--drop-bott);
            color: white;
            height: 60px;
            width: 430px;
            font-size: 23px;
    }
    .info{
        font-size: 20px;
    }
    
    
    

    
        
    
